@page
@model We_Doku.Pages.IndexModel
@{
    Layout = "_Layout";
}
<link rel="stylesheet" href="~/reset.css" />
<link rel="stylesheet" href="~/Site.css" />
<div class="container">
    <table>
        <tbody id="gameboard">
            @*@for (var i = 0; i < 9; i++)
            {
                <tr>
             @for(var j = 0; j <9; j++)
             {
                 <td id="@Model.GameBoard.GameSpaces + "col"">
                     <input id="@Model.GameBoard.GameSpaces + "x"" type="hidden" value=" @i" />
                     <input id="@Model.GameBoard.GameSpaces + "y"" type="hidden" value="@j" />
                     <input id="@Model.GameBoard.GameSpaces" type="number" class="gsSubmit" />
                 </td>
             }
                </tr>
            }*@
            @*<tr>
                <td id="00">
                    <p>square 1</p>
                    <input id="1x" value="0" type="hidden" />
                    <input id="1y" value="0" type="hidden" />
                    <button type="button" class="gsSubmit">
                        This is a test to see if this button works and that I can access it.
                    </button>
                </td>
                <td id="01">
                    <p>square 2</p>
                    <input value="0" type="hidden" />
                    <input value="1" type="hidden" />
                    <button type="button" class="gsSubmit">Click me</button>
                </td>
            </tr>*@
        </tbody>
    </table>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/gameplay.js"></script>

